## Task 1

In [1]:
import pandas 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report 
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pandas.read_csv("iris.data", names=names)

In [3]:
dataset

     sepal-length  sepal-width  petal-length  petal-width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
dataset.shape

(150, 5)

In [5]:
dataset.groupby('class').size()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [6]:
array = dataset.values
X = array[:,0:4]
Y = array[:,4]
t_size = 0.20
seed = 7
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=t_size, random_state=seed)

In [7]:
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)
predictions = knn.predict(X_test)
print(accuracy_score(Y_test, predictions))
print(confusion_matrix(Y_test, predictions))
print(classification_report(Y_test, predictions))

0.9
[[ 7  0  0]
 [ 0 11  1]
 [ 0  2  9]]
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       0.85      0.92      0.88        12
 Iris-virginica       0.90      0.82      0.86        11

       accuracy                           0.90        30
      macro avg       0.92      0.91      0.91        30
   weighted avg       0.90      0.90      0.90        30

In [8]:
for i in range(1,10):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, Y_train)
    predictions = knn.predict(X_test)
    print("K = ", i, "Accuracy = ", accuracy_score(Y_test, predictions))

K =  1 Accuracy =  0.9
K =  2 Accuracy =  0.9333333333333333
K =  3 Accuracy =  0.9
K =  4 Accuracy =  0.9333333333333333
K =  5 Accuracy =  0.9
K =  6 Accuracy =  0.8666666666666667
K =  7 Accuracy =  0.8666666666666667
K =  8 Accuracy =  0.9
K =  9 Accuracy =  0.9

In [9]:
for i in range(1,10):
    X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=t_size, random_state=i)
    knn = KNeighborsClassifier()
    knn.fit(X_train, Y_train)
    predictions = knn.predict(X_test)
    print(round(accuracy_score(Y_test, predictions), 2))

1.0
1.0
0.97
0.97
0.93
0.97
0.9
0.9
1.0

## Task 2

In [10]:
iris_dataset = pandas.read_csv("Occupency_Detection/datatraining.csv")
iris_dataset

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.250000,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.000000,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.500000,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.250000,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.500000,0.004757,1
...,...,...,...,...,...,...,...
8139,2015-02-10 09:29:00,21.05,36.0975,433.0,787.250000,0.005579,1
8140,2015-02-10 09:29:59,21.05,35.9950,433.0,789.500000,0.005563,1
8141,2015-02-10 09:30:59,21.10,36.0950,433.0,798.500000,0.005596,1
8142,2015-02-10 09:32:00,21.10,36.2600,433.0,820.333333,0.005621,1
8143,2015-02-10 09:33:00,21.10,36.2000,447.0,821.000000,0.005612,1

In [11]:
iris_dataset.shape

(8143, 7)

In [12]:
iris_dataset.groupby("Occupancy").size()

Occupancy
0    6414
1    1729
dtype: int64

In [13]:
del iris_dataset['date']
iris_dataset

      Temperature  Humidity  Light         CO2  HumidityRatio  Occupancy
1           23.18   27.2720  426.0  721.250000       0.004793          1
2           23.15   27.2675  429.5  714.000000       0.004783          1
3           23.15   27.2450  426.0  713.500000       0.004779          1
4           23.15   27.2000  426.0  708.250000       0.004772          1
5           23.10   27.2000  426.0  704.500000       0.004757          1
...           ...       ...    ...         ...            ...        ...
8139        21.05   36.0975  433.0  787.250000       0.005579          1
8140        21.05   35.9950  433.0  789.500000       0.005563          1
8141        21.10   36.0950  433.0  798.500000       0.005596          1
8142        21.10   36.2600  433.0  820.333333       0.005621          1
8143        21.10   36.2000  447.0  821.000000       0.005612          1

[8143 rows x 6 columns]

In [14]:
test1 = pandas.read_csv("Occupency_Detection/datatest.csv")
del test1['date']
test1

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
140,23.700000,26.272000,585.200000,749.200000,0.004764,1
141,23.718000,26.290000,578.400000,760.400000,0.004773,1
142,23.730000,26.230000,572.666667,769.666667,0.004765,1
143,23.722500,26.125000,493.750000,774.750000,0.004744,1
144,23.754000,26.200000,488.600000,779.000000,0.004767,1
...,...,...,...,...,...,...
2800,24.290000,25.700000,808.000000,1150.250000,0.004829,1
2801,24.330000,25.736000,809.800000,1129.200000,0.004848,1
2802,24.330000,25.700000,817.000000,1125.800000,0.004841,1
2803,24.356667,25.700000,813.000000,1123.000000,0.004849,1
2804,24.408333,25.681667,798.000000,1124.000000,0.004860,1

In [15]:
array = iris_dataset.values
X_train = array[:,0:5]
Y_train = array[:,5]
array = test1.values
X_test = array[:,0:5]
Y_test = array[:,5]

In [16]:
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)
predictions = knn.predict(X_test)
print(accuracy_score(Y_test, predictions))
print(confusion_matrix(Y_test, predictions))
print(classification_report(Y_test, predictions))

0.9425891181988743
[[1645   48]
 [ 105  867]]
              precision    recall  f1-score   support

         0.0       0.94      0.97      0.96      1693
         1.0       0.95      0.89      0.92       972

    accuracy                           0.94      2665
   macro avg       0.94      0.93      0.94      2665
weighted avg       0.94      0.94      0.94      2665

In [17]:
for i in range(1,10):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, Y_train)
    predictions = knn.predict(X_test)
    print("K = ", i, "Accuracy = ", accuracy_score(Y_test, predictions))

K =  1 Accuracy =  0.9365853658536586
K =  2 Accuracy =  0.9230769230769231
K =  3 Accuracy =  0.9350844277673546
K =  4 Accuracy =  0.9275797373358349
K =  5 Accuracy =  0.9425891181988743
K =  6 Accuracy =  0.9324577861163227
K =  7 Accuracy =  0.9609756097560975
K =  8 Accuracy =  0.9549718574108818
K =  9 Accuracy =  0.9617260787992495

In [18]:
test2 = pandas.read_csv("Occupency_Detection/datatest2.csv")
del test2['date']
array = test2.values
X_test = array[:,0:5]
Y_test = array[:,5]

In [19]:
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)
predictions = knn.predict(X_test)
print(accuracy_score(Y_test, predictions))
print(confusion_matrix(Y_test, predictions))
print(classification_report(Y_test, predictions))

0.9621616078753076
[[7385  318]
 [  51 1998]]
              precision    recall  f1-score   support

         0.0       0.99      0.96      0.98      7703
         1.0       0.86      0.98      0.92      2049

    accuracy                           0.96      9752
   macro avg       0.93      0.97      0.95      9752
weighted avg       0.97      0.96      0.96      9752

In [20]:
for i in range(1,10):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, Y_train)
    predictions = knn.predict(X_test)
    print("K = ", i, "Accuracy = ", accuracy_score(Y_test, predictions))

K =  1 Accuracy =  0.9502666119770303
K =  2 Accuracy =  0.9525225594749795
K =  3 Accuracy =  0.9579573420836751
K =  4 Accuracy =  0.9539581624282198
K =  5 Accuracy =  0.9621616078753076
K =  6 Accuracy =  0.9628794093519278
K =  7 Accuracy =  0.9649302707136997
K =  8 Accuracy =  0.9658531583264971
K =  9 Accuracy =  0.9656480721903199

## Task 3

In [21]:
array = dataset.values
X = array[:,0:4]
Y = array[:,4]
t_size = 0.20
seed = 7
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=t_size, random_state=seed)

In [22]:
# Chi Square distance formula
def chi_square(train,test):
    dist = ((train - test)**2)/(train + test)
    return sum(dist)

# My KNN function
def neighbors(k):
    distances = list()
    prediction = list()
    for test in X_test:
        df = pandas.DataFrame(X_train)
        df['class'] = pandas.DataFrame(Y_train)
        for train in X_train:
            dist = chi_square(train,test)
            distances.append(dist)
        df['distance'] = pandas.DataFrame(distances)
        df.sort_values(by="distance", inplace=True)
        df = df.head(k)
        classify = df['class'].mode()
        prediction.append(classify[0])
        del df
        distances.clear()
        
    return prediction

In [23]:
n_neighbor_default = 4  # 4 is the default value
prediction = neighbors(n_neighbor_default)
print(accuracy_score(Y_test, prediction))
print(confusion_matrix(Y_test, prediction))
print(classification_report(Y_test, prediction))

0.8666666666666667
[[ 7  0  0]
 [ 0 10  2]
 [ 0  2  9]]
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       0.83      0.83      0.83        12
 Iris-virginica       0.82      0.82      0.82        11

       accuracy                           0.87        30
      macro avg       0.88      0.88      0.88        30
   weighted avg       0.87      0.87      0.87        30

In [24]:
for i in range(1,10):
    prediction = neighbors(i)
    print("K = ", i, ", Accuracy = ", accuracy_score(Y_test, prediction))

K =  1 , Accuracy =  0.9
K =  2 , Accuracy =  0.9333333333333333
K =  3 , Accuracy =  0.9
K =  4 , Accuracy =  0.8666666666666667
K =  5 , Accuracy =  0.8666666666666667
K =  6 , Accuracy =  0.8666666666666667
K =  7 , Accuracy =  0.8666666666666667
K =  8 , Accuracy =  0.8666666666666667
K =  9 , Accuracy =  0.9

In [25]:
for i in range(1,10):
    X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=t_size, random_state=i)
    prediction = neighbors(n_neighbor_default)
    print("Accuracy: ", round(accuracy_score(Y_test, prediction), 2))

Accuracy:  1.0
Accuracy:  1.0
Accuracy:  1.0
Accuracy:  0.93
Accuracy:  0.93
Accuracy:  0.97
Accuracy:  0.87
Accuracy:  0.9
Accuracy:  1.0

In [24]:
array = iris_dataset.values
X_train = array[:,0:5]
Y_train = array[:,5]
array = test1.values
X_test = array[:,0:5]
Y_test = array[:,5]

In [25]:
predictions = neighbors(n_neighbor_default)
print(accuracy_score(Y_test, predictions))
print(confusion_matrix(Y_test, predictions))
print(classification_report(Y_test, predictions))

0.9133208255159475
[[1648   45]
 [ 186  786]]
              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93      1693
         1.0       0.95      0.81      0.87       972

    accuracy                           0.91      2665
   macro avg       0.92      0.89      0.90      2665
weighted avg       0.92      0.91      0.91      2665

In [28]:
for i in range(1,10):
    predictions = neighbors(i)
    print("K = ", i, "Accuracy = ", accuracy_score(Y_test, predictions))

K =  1 Accuracy =  0.9212007504690432
K =  2 Accuracy =  0.9043151969981238
K =  3 Accuracy =  0.9219512195121952
K =  4 Accuracy =  0.9133208255159475
K =  5 Accuracy =  0.9332082551594747
K =  6 Accuracy =  0.924202626641651
K =  7 Accuracy =  0.9538461538461539
K =  8 Accuracy =  0.950844277673546
K =  9 Accuracy =  0.9636022514071294

In [26]:
test2 = pandas.read_csv("Occupency_Detection/datatest2.csv")
del test2['date']
array = test2.values
X_test = array[:,0:5]
Y_test = array[:,5]
predictions = knn.predict(X_test)
print(accuracy_score(Y_test, predictions))
print(confusion_matrix(Y_test, predictions))
print(classification_report(Y_test, predictions))

0.9656480721903199
[[7406  297]
 [  38 2011]]
              precision    recall  f1-score   support

         0.0       0.99      0.96      0.98      7703
         1.0       0.87      0.98      0.92      2049

    accuracy                           0.97      9752
   macro avg       0.93      0.97      0.95      9752
weighted avg       0.97      0.97      0.97      9752

In [27]:
for i in range(1,10):
    predictions = neighbors(i)
    print("K = ", i, "Accuracy = ", accuracy_score(Y_test, predictions))

K =  1 Accuracy =  0.9504716981132075
K =  2 Accuracy =  0.9466776045939295
K =  3 Accuracy =  0.9499589827727646
K =  4 Accuracy =  0.9509844134536505
K =  5 Accuracy =  0.9573420836751435
K =  6 Accuracy =  0.9565217391304348
K =  7 Accuracy =  0.9588802296964725
K =  8 Accuracy =  0.9587776866283839
K =  9 Accuracy =  0.9604183757178015